extend layout
block custom_script
	script(type='text/javascript')
		$(document).ready(function(){
			var certificate_id = '#{user_certificate.id}';
			$('#delete_certificate').click(function(e) {
				if( ! certificate_id )
					return false;
				$.ajax('/certificate/' + certificate_id, {
					type: 'DELETE',
					success: function(data) {
						var d = JSON.parse(data);
						$('.certificate').hide();
						$('.no-certificate').show();
					},
					error: function(data) {
						var d = JSON.parse(data);
						alert('Error deleting certificate. ' + data.error_msg);
					}
				});
			});
			$('#add_certificate').click(function(e) {
				$.ajax('/certificate/new', {
					type: 'PUT',
					success: function(data) {
						var d = JSON.parse(data);
						certificate_id = d.cert.id;
						$('.certificate').show();
						$('.no-certificate').hide();
					},
					error: function(data) {
						var d = JSON.parse(data);
						alert('Error adding certificate. ' + data.error_msg);
					}
				});
			});
		});

block content
	.certificate-container
		- var hide_class = user_certificate ? '' : 'hide';
		div(class="certificate " + hide_class)
			p
				| Current Stored Certificate Information
			p.subheading
				| To remove this certificate click
				input(type="button", id="delete_certificate", value="Remove this certificate")
			dl(class="certificate-content", id="certificate-content")
				if ! Object.keys(user_certificate).length
					- user_certificate.subject = {};
					- user_certificate.issuer = {};
				dt Certificate ID
				dd(id="cert_id") #{user_certificate.id}
				dt Subject Common Name
				dd(id="cert_subject_cn") #{user_certificate.subject.CN}
				dt Issuer Common Name
				dd(id="cert_issuer_cn") #{user_certificate.issuer.CN}
				dt Fingerprint
				dd(id="cert_fingerprint") #{user_certificate.fingerprint}
				dt Valid Start
				dd(id="cert_valid_from") #{user_certificate.valid_from}
				dt Valid End
				dd(id="cert_valid_to") #{user_certificate.valid_to}
		div(class="no-certificate" + (! user_certificate) ? '' : ' hide')
			p
				| No Stored Certificate Found
				input(type="button", id="add_certificate", value="Add installed certificate")

