!!!5
html
	head
		if typeof(title) != 'undefined'
			title #{title} - OpenDemocracy
		else
			title OpenDemocracy
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui-1.9.2.custom.css')
		script(type='text/javascript', src='/js/jquery-1.8.3.js')
		script(type='text/javascript', src='/js/jquery-ui-1.9.2.custom.js')
		block custom_script
	body
		header
			h1 OpenDemocracy
		.container
			.main-content
				if typeof(error) != 'undefined'
					.error
						p
							| #{error}
				if typeof(feedback) != 'undefined'
					.feedback
						p
							| #{feedback}
				block content
			.sidebar
				ul
					if user
						li.nav
							a(href='/logout') Logout
						li.nav
							a(href='/certificate') Certificate
						li.nav
							a(href='/profile') Profile
					else
						li.nav
							a(href='/login') Login
						li.nav
							a(href='/register') Register
					each title, url in sub_nav
						li.sub_nav
							a(href=url) #{title}
				p
					| Vivamus hendrerit arcu sed erat molestie
					| vehicula.
		footer
			p Running on node with Express, Jade and Stylus

